.chartContainerHeader h2 {
  color: #072635;
  font-size: 24px;
  margin-bottom: 24px;
}

.chartContent {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  background-color: #f4f0fe;
  padding: 25px;
}

.chart {
  width: 450px;
  height: 298px;
}

.chart p {
  font-size: 18px;
  color: #072635;
  font-weight: bold;
  margin-bottom: 10px;
}

.readings {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-left: 24px;
}

.reading {
  text-align: left;
  min-width: 120px;
}

.reading:first-child {
  padding-bottom: 16px;
  border-bottom: 1px solid #e4e4e4;
  text-align: center;
}

.readingLevel {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 8px;
}

.label {
  font-size: 14px;
  color: #072635;
}

.value {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.valuesys {
  font-size: 24px;
  font-weight: 500;
  margin: 5px 0;
  color: #072635;
}

.level {
  font-size: 14px !important;
  color: #072635;
  display: flex;
  align-items: center;
}

.circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-left: 8px;
}

.readingHeader {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  flex-direction: row-reverse;
}
